# cp promcasa.service /usr/lib/systemd/system/
# systemctl daemon-reload
# systemctl start promcasa
# systemctl enable promcasa

[Unit]
Description=ClickHouse Prometheus Exporter
After=network.target

[Service]
Environment="PROMCASA_CONFIG=-config-path=/etc/"
ExecStart=/usr/local/bin/promcasa $PROMCASA_CONFIG
Restart=always
RestartSec=5s
Type=simple

[Install]
WantedBy=multi-user.target
